@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@font-face {
  font-family: "Sword-Art";
  src: url("https://ipfs.near.social/ipfs/bafkreihtilumrtms47sof23qziilrfffgjmywdcbphhf4qfrkd3zbqduyq");
}

body {
  font-family: "Ubuntu", sans-serif;
}
